/*PROJETO CARDÁPIO*/

@import url('https://fonts.cdnfonts.com/css/arapey');
@import url('https://fonts.cdnfonts.com/css/rye');
@import url('https://fonts.cdnfonts.com/css/varuna');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Arapey', sans-serif;                                       
}

body{
    height: 100vh;
}

#top_line{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#top{
    background-image: url(topo.png);
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
 


#top h1{
    font-size: 30px;
    font-family: 'Rye', sans-serif;
    font-size: 40px;
    color: #ffffff;
                                                
}

#menu{
    background-color: #1f1d1e;
    display: flex;
    justify-content: center;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline;
}

#menu ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: aliceblue;
}

#menu ul li a :hover{
  background-color: black;
}

#content{
background-color:#1f1d1e;
}
   
#part1{
    height:100vh;

}

#part2{
    height:100vh;
}

#part3{
    height:100vh;
   
}

#part4{
    height:100vh;
  
}
.sessao {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 290px;
    padding-bottom: 0px;
 }
 


 .card {
   height: 400px;
   width: 300px;
   background-color: #e8e3c8;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
   overflow: hidden;
   overflow: hidden; 
   transition: transform 0.3s; 
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}


.card figure {
  width: 290px;
  height: 225px;
  background-color: black;
  border-radius: 10px;
  background-size: 100%;
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.card p{
    font-family: 'varuna';
    font-size: 125%;
}

.card img {
   width: 100%;
   height: 70%;
   overflow: hidden;
   object-fit: cover;
   border-radius: 10px 10px 0 0;
}

.card:hover {
   transform: scale(1.1); /* Aumenta o tamanho do card em 10% ao passar o mouse */
}

.card-content {
   padding: 20px;
   text-align: center;
   font-size: ;
}

footer {
    background-color:#1f1d1e;
   color: #fff;
   padding: 30px 0;
   text-align: center;
}

footer h3 {
   color: #fff;
   font-size: 20px;
   margin-bottom: 10px;
}

footer p {
   color: #ccc;
   margin-bottom: 5px;
}
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
 }
 
 footer h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
 }
 
 footer p {
    color: #ccc;
    margin-bottom: 5px;
 }
 
 
 